html, body, #container {
  height: 100%;
  margin: 0;
  padding: 0;
}
div#container {
  display: -webkit-flex;
  display: flex;  
}

#map {
  width: 75%;
  height: 100%;
}

#panel {
  width:25%;
  height:100%;  
}